.sample p {
  background-color: rgba(255, 125, 0, 0.1);
  border: solid 2px rgba(0, 0, 0, 0.08);
  margin: 0;
  margin-bottom: 15px;
  padding: 25px;
  border-radius: 5px;
}

.sample p:last-child {
  margin-bottom: 0;
}
